* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* border: solid 1px red; */
}

/* Navbar */
#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}

#logo {
  width: 80px;
}

#static {
  background-image: url("../assets/banner-tablet.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-attachment: fixed;
}

/* CARDS */
#container {
  position: absolute;
  top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(40deg, rgba(232, 243, 255, 1), rgb(133, 180, 255) 50%, rgba(47, 89, 255, 1) 100%);
}

/* CARD */

.card {
  margin: 25px 2vw;
  width: 200px;
  height: 300px;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .25s ease;
  text-align: left;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.card:hover {
  /*cambia el tamaño de la tarjeta*/
  transform: scale(0.9);
}

.card:hover::after {
  /*Marga la altura del espacio de degradado*/
  height: 130px;
}

.card:hover .card-text p {
  margin-bottom: 0px;
  opacity: 1;
}

.card:hover img {
  /*cambia el tamaño de la imagen cuando el cursor esta sobre*/
  transform: scale(1.25);
}

.card::after {
  width: 100%;
  opacity: 1;
  content: ' ';
  left: 0px;
  bottom: 0px;
  height: 0px;
  position: absolute;
  background-image: linear-gradient(to bottom,
      rgb(33 44 55 / 0),
      rgb(33 44 55 / 0),
      rgb(33 44 55 / 0.85));
  transition: all 0.25s ease;
  backdrop-filter: blur(2px);
}

.card img {
  /*propiedades de la imagen en card*/
  transition: all 0.25 ease;
  height: 32vh;
}

.card .card-text {
  /*acomoda el texto sobre la imagen*/
  position: absolute;
  bottom: 0px;
  color: #324BAA;
  padding: 20px;
  padding-bottom: 30px;
  text-shadow: 1px 1px #d5e8ff;
  z-index: 2;
}

.card .card-text p {
  /*baja la posicion del texto y el boton*/
  font-size: 0.8rem;
  opacity: 0;
  /*Oculta el parrafo*/
  margin-bottom: -170px;
  /*Baja la posicion del texto*/
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.card .card-text p button {
  /*propiedades del boton*/
  padding: 7px 17px;
  border-radius: 12px;
  background: #324BAA;
  border: 2px solid #324BAA;
  color: white;
  margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.25s ease;
  font-family: 'poppins';
  font-size: 0.75rem;
  outline: none;
  z-index: 2;
}

.card .card-text p button:hover {
  /*Propiedad del boton cuando hay un hover*/
  background-color: #5686ff;
  border-color: #5686ff;
  color: white;
}